<table width="100%" border="0" cellpadding="2" cellspacing="2">
    <tr>
        <td class="legend">title</td>
        <td class="tag">{title}</td>
    </tr>
    <tr>
        <td class="legend">url</td>
        <td class="tag">{url}</td>
    </tr>
    <tr>
        <td class="legend">description</td>
        <td class="tag">{description}</td>
    </tr>
    <tr>
        <td class="legend">rowdescription</td>
        <td class="tag">{rowdescription}</td>
    </tr>
    <tr>
        <td class="legend">hits</td>
        <td class="tag">{hits}</td>
    </tr>
    <tr>
        <td class="legend">thumbnailurl</td>
        <td class="tag">{thumbnailurl}</td>
    </tr>
    <tr>
        <td class="legend">thumbnail</td>
        <td class="tag">{thumbnail}</td>
    </tr>
    <tr>
        <td class="legend">date</td>
        <td class="tag">{date}</td>
    </tr>
    <tr>
        <td class="legend">date Y-m-d</td>
        <td class="tag">{date Y-m-d}</td>
    </tr>
</table>