<div style="padding:3px; margin-bottom:3px;float:left"><a href="{url}"><img src="{thumbnailurl}" width="220"/>
    </a>
</div>
<div style="padding:3px;width:430px;height:90px; margin-bottom:20px;float:left; margin-left:12px; padding-left:12px; border-left:1px dotted #777777; font-size:10px; color:#ebebeb;">
    <p style="margin-bottom:-6px; padding-bottom:8px; border-bottom:1px dotted #777777;"><a href="{url}" style="color:#ffea76; font-weight:bold; font-size:12px; text-transform:uppercase;">
            {title}</a><br>Description: {description}<br>At: {date}<br>Hits: {hits}
    </p>
</div>